<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoatGate</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top topnav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Profile/Index" class="navbar-brand"><i class="fas fa-key"></i> MoatGate</a>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.IsInRole("IdentityAdmin"))
                        {
                            <li><a asp-page="/Resources/Api/List"><i class="fas fa-server"></i> API Resources</a></li>
                            <li><a asp-page="/Resources/Identity/List"><i class="fas fa-id-card"></i> Identity Resources</a></li>
                            <li><a asp-page="/Client/List"><i class="fas fa-laptop"></i> Clients</a></li>
                            <li><a asp-page="/User/List"><i class="fas fa-users"></i> Users</a></li>
                            <li><a asp-page="/Roles/List"><i class="fas fa-id-badge"></i> Roles</a></li>
                        }
                        <li><a href="/.well-known/openid-configuration"><i class="fas fa-link"></i> Endpoints</a></li>
                    </ul>
                    <form method="post" class="pull-right">
                        <button asp-page="/Account/Logout" type="submit" class="btn btn-logout" asp-page-handler="logout"><i class="fas fa-sign-out-alt"></i> Logout</button>
                    </form>
                </div>
            }
        </div>
    </nav>
    <div class="body-content">
        <div class="container overflowContent">
            @RenderBody()
        </div>
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2017 - MoatGate</p>
        </div>
    </footer>
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete this record? This process cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="btnConfirmDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <environment include="Development">
        <script src="~/js/vendor.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/vendor.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
