@page "{id:int?}"
@model MoatGate.Pages.Resources.Api.CreateEditModel
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ApiResource.Id" />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ApiResource.Enabled" /> @Html.DisplayNameFor(model => model.ApiResource.Enabled)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ApiResource.Name" class="control-label"></label>
                <input asp-for="ApiResource.Name" class="form-control" />
                <span asp-validation-for="ApiResource.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiResource.DisplayName" class="control-label"></label>
                <input asp-for="ApiResource.DisplayName" class="form-control" />
                <span asp-validation-for="ApiResource.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiResource.Description" class="control-label"></label>
                <input asp-for="ApiResource.Description" class="form-control" />
                <span asp-validation-for="ApiResource.Description" class="text-danger"></span>
            </div>

            <ul class="nav nav-pills bootstrapTabs">
                <li role="presentation" class="active"><a href="#apiScopesTab">Api Scopes</a></li>
                <li role="presentation"><a href="#apiSecretTabs">Api Secrets</a></li>
                <li role="presentation"><a href="#apiResourcesTab">Allowed Claims</a></li>
            </ul>

            <div class="tab-content">
                <div id="apiScopesTab" class="tab-pane fade in active">
                    <div class="form-group">
                        <partial name="./PartialViews/Scopes" for="ApiResource.Scopes" />
                    </div>
                </div>
                <div id="apiSecretTabs" class="tab-pane fade">
                    <div class="form-group">
                        <partial name="./PartialViews/Secrets" for="ApiResource.Secrets" />
                    </div>
                </div>
                <div id="apiResourcesTab" class="tab-pane fade">
                    <div class="form-group">
                        <partial name="./PartialViews/ApiResourceClaims" for="ApiResource.UserClaims" />
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <div class="form-group btn-group pull-right btnGroupSave">
                        <button type="submit" class="btn btn-success"><i class="fas fa-save" aria-hidden="true"></i> Save</button>
                        <a asp-page="List" class="btn btn-danger"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back to List</a>
                    </div>
                </div>
            </nav>
        </form>
    </div>
</div>
@section Scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/js/Resources/Api/api-reource-create-edit.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/Resources/Api/api-reource-create-edit.min.js" asp-append-version="true"></script>
    </environment>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
