@page "{id:int?}"
@addTagHelper *, MoatGate
@model MoatGate.Pages.Resources.Api.CreateEditModel
@{
    var UserClaimsOptions = (List<SelectListItem>)ViewData["UserClaimsOptions"];
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ApiResource.Id" />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ApiResource.Enabled" /> Enabled <help text="Indicates if this resource is enabled and can be requested. Defaults to true."></help>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ApiResource.Name" class="control-label"></label> <help text="The unique name of the API. This value is used for authentication with introspection and will be added to the audience of the outgoing access token."></help>
                        <input asp-for="ApiResource.Name" class="form-control" />
                        <span asp-validation-for="ApiResource.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ApiResource.Description" class="control-label"></label> <help text="This value can be used e.g. on the consent screen."></help>
                        <input asp-for="ApiResource.Description" class="form-control" />
                        <span asp-validation-for="ApiResource.Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Display Name</label> <help text="This value can be used e.g. on the consent screen."></help>
                        <input asp-for="ApiResource.DisplayName" class="form-control" />
                        <span asp-validation-for="ApiResource.DisplayName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Available User Claims</label> <help text="List of associated user claim types that should be included in the access token."></help>
                        <select class="form-control select-user-claims" id="ddlUserClaims" asp-for="UserClaims" asp-items="UserClaimsOptions" multiple data-placeholder="Select User Claims"></select>
                    </div>
                </div>
            </div>

            <ul class="nav nav-pills bootstrapTabs">
                <li role="presentation" class="active"><a href="#apiScopesTab">Api Scopes <help text="An API must have at least one scope. Each scope can have different settings."></help></a></li>
                <li role="presentation">
                    <a href="#apiSecretTabs">
                        Api Secrets
                        <help text="The API secret is used for the introspection endpoint. The API can authenticate with introspection using the API name and secret."></help>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="apiScopesTab" class="tab-pane fade in active">
                    <div class="form-group">
                        <partial name="./PartialViews/Scopes" for="@Model" />
                    </div>
                </div>
                <div id="apiSecretTabs" class="tab-pane fade">
                    <div class="form-group">
                        <partial name="./PartialViews/Secrets" for="ApiResource.Secrets" />
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <div class="form-group btn-group pull-right btnGroupSave">
                        <button type="submit" class="btn btn-success"><i class="fas fa-save" aria-hidden="true"></i> Save</button>
                        <a asp-page="List" class="btn btn-danger"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back to List</a>
                    </div>
                </div>
            </nav>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment include="Development">
        <script type="text/javascript" src="~/js/Resources/Api/api-resource-create-edit.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/Resources/Api/api-resource-create-edit.min.js" asp-append-version="true"></script>
    </environment>
}
