@page "{id:int?}"
@model MoatGate.Pages.Resources.Api.CreateEditModel

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ApiResource.Id" />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ApiResource.Enabled" /> @Html.DisplayNameFor(model => model.ApiResource.Enabled)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ApiResource.Name" class="control-label"></label>
                <input asp-for="ApiResource.Name" class="form-control" />
                <span asp-validation-for="ApiResource.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiResource.DisplayName" class="control-label"></label>
                <input asp-for="ApiResource.DisplayName" class="form-control" />
                <span asp-validation-for="ApiResource.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiResource.Description" class="control-label"></label>
                <input asp-for="ApiResource.Description" class="form-control" />
                <span asp-validation-for="ApiResource.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiResource.Scopes" class="control-label"></label>
                @{
                    Html.RenderPartial("./PartialViews/Scopes", Model.ApiResource.Scopes);
                }
            </div>

            <div class="form-group">
                <label asp-for="ApiResource.Secrets" class="control-label"></label>
                @{
                    Html.RenderPartial("./PartialViews/Secrets", Model.ApiResource.Secrets);
                }
            </div>

            <div class="form-group">
                <label asp-for="ApiResource.UserClaims" class="control-label"></label>
                @{
                    Html.RenderPartial("./PartialViews/ApiResourceClaims", Model.ApiResource.UserClaims);
                }
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Save <i class="fas fa-save" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>
@section Scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/js/Resources/Api/api-reource-create-edit.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/Resources/Api/api-reource-create-edit.min.js" asp-append-version="true"></script>
    </environment>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
