@model IList<MoatGate.Models.Consent.ScopeViewModel>

@{ int i = 0; }
@foreach (var scope in Model)
{
    <li class="list-group-item">
        <label>

            <input type="checkbox" disabled="@scope.Required" id="scopes_@scope.Name" class="scopeCheckbox consent-scopecheck" @{if (scope.Checked) { <text> checked </text>  } } />
            <input type="hidden" class="scopeCheckboxHiddentTextValue" name="ConsentData.IdentityScopes[@i].Checked"
                   @{if (scope.Checked) { <text> value="true" </text>  } else { <text> value="false" </text>  } } />            
            <input type="hidden"
                   name="ConsentData.IdentityScopes[@i].Name"
                   value="@scope.Name" />

            <strong>@scope.DisplayName</strong>
            @if (scope.Emphasize)
            {
                <span class="glyphicon glyphicon-exclamation-sign"></span>
            }
        </label>
        @if (scope.Required)
        {
            <span><em>(required)</em></span>
        }
        @if (scope.Description != null)
        {
            <div class="consent-description">
                <label for="scopes_@scope.Name">@scope.Description</label>
            </div>
        }
    </li>
    i++;
}
