@page "{id:int?}"
@model MoatGate.Pages.Resources.Identity.CreateEditModel

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="IdentityResource.Id" />
            <div class="col-lg-8">
                <div class="form-group">
                    <label class="control-label">Name</label> <help text="The unique name of the identity resource. This is the value a client will use for the scope parameter in the authorize request."></help>
                    <input asp-for="IdentityResource.Name" class="form-control" />
                    <span asp-validation-for="IdentityResource.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Display Name</label> <help text="This value will be used e.g. on the consent screen."></help>
                    <input asp-for="IdentityResource.DisplayName" class="form-control" />
                    <span asp-validation-for="IdentityResource.DisplayName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label> <help text="This value will be used e.g. on the consent screen."></help>
                    <input asp-for="IdentityResource.Description" class="form-control" />
                    <span asp-validation-for="IdentityResource.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <label> </label>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IdentityResource.Enabled" /> Enabled <help text="Indicates if this resource is enabled and can be requested. Defaults to true."></help>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IdentityResource.Emphasize" /> Emphasize <help text="Specifies whether the consent screen will emphasize this scope (if the consent screen wants to implement such a feature). Use this setting for sensitive or important scopes. Defaults to false."></help>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IdentityResource.Required" /> Required <help text="Specifies whether the user can de-select the scope on the consent screen (if the consent screen wants to implement such a feature). Defaults to false."></help>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IdentityResource.ShowInDiscoveryDocument" /> Show In Discovery Document <help text="Specifies whether this scope is shown in the discovery document. Defaults to true."></help>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <partial name="./PartialViews/IdentityResourceClaims" for="IdentityResource.UserClaims" />
            </div>
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <div class="form-group btn-group pull-right btnGroupSave">
                        <button type="submit" class="btn btn-success"><i class="fas fa-save" aria-hidden="true"></i> Save</button>
                        <a asp-page="List" class="btn btn-danger"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back to List</a>
                    </div>
                </div>
            </nav>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment include="Development">
        <script type="text/javascript" src="~/js/Resources/Identity/identity-resource-create-edit.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/Resources/Identity/identity-resource-create-edit.min.js" asp-append-version="true"></script>
    </environment>
}
