@model IList<IdentityServer4.EntityFramework.Entities.IdentityClaim>
<section data-scope="partials-identity-resource-claim">
    <table class="table table-condensed table-responsive table-striped table-hover table-bordered" id="tbl-identity-resource-claim">
        <thead>
            <tr>
                <th>
                    Included Claim
                </th>
                <th class="column-control-1">
                    <button type="button" class="btn btn-sm btn-primary pull-right" id="btn-add-identity-resource-claim"><i class="fas fa-plus"></i></button>
                </th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 0; }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="hidden" class="form-control" name="IdentityResource.UserClaims[@i.ToString()].IdentityResourceId" value="@item.IdentityResourceId" />
                        <input type="hidden" class="form-control" name="IdentityResource.UserClaims[@i.ToString()].Id" value="@item.Id" />
                        <input type="text" class="form-control" name="IdentityResource.UserClaims[@i.ToString()].Type" value="@item.Type" />
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm pull-right">
                            <button type="button" class="btn btn-sm btn-danger  btn-delete-identity-resource-claim" title="Delete"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
    <script id="identity-resource-claim-template" type="text/x-jsrender">
        <tr>
            <td>
                <input type="hidden" class="form-control" name="IdentityResource.UserClaims[{{:index}}].id" value="{{:id}}" />
                <input type="text" class="form-control" name="IdentityResource.UserClaims[{{:index}}].Type" value="{{:type}}" />
            </td>
            <td>
                <div class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-sm btn-danger btn-delete-identity-resource-claim" title="Delete"><i class="fas fa-trash-alt"></i></button>
                </div>
            </td>
        </tr>
    </script>
</section>
