@page
@model MoatGate.Pages.Consent.IndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/consent.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/consent.min.css" asp-append-version="true"  />
    </environment>
}

<div class="page-consent">
    <div class="row page-header">
        <div class="col-sm-10">
            @if (Model.ConsentData.ClientLogoUrl != null)
            {
                <div class="client-logo"><img src="@Model.ConsentData.ClientLogoUrl"></div>
            }
            <h1>
                @Model.ConsentData.ClientName
                <small>is requesting your permission</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div asp-validation-summary="All" class="text-danger"></div>

            <form class="consent-form" method="post">
                <input type="hidden" asp-for="ConsentData.ReturnUrl" />

                <div>Uncheck the permissions you do not wish to grant.</div>

                @if (Model.ConsentData.IdentityScopes.Any())
                {
                    <div class="panel panel-default consent-buttons">
                        <div class="panel-heading">
                            <span class="fas fa-user"></span>
                            Personal Information
                        </div>
                        <ul class="list-group">
                            <partial name="./PartialViews/ConsetIdentityScope" for="ConsentData.IdentityScopes" />
                        </ul>
                    </div>
                }

                @if (Model.ConsentData.ResourceScopes.Any())
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-tasks"></span>
                            Application Access
                        </div>
                        <ul class="list-group">
                            <partial name="./PartialViews/ConsetApiScope" for="ConsentData.ResourceScopes" />
                        </ul>
                    </div>
                }

                @if (Model.ConsentData.AllowRememberConsent)
                {
                    <div class="consent-remember">
                        <label>
                            <input class="consent-scopecheck" asp-for="ConsentData.RememberConsent" />
                            <strong>Remember My Decision</strong>
                        </label>
                    </div>
                }

                <div class="consent-buttons">
                    <button type="submit" asp-page-handler="Allow" class="btn btn-success"><i class="fas fa-check"></i> Yes, Allow</button>
                    <button type="submit" asp-page-handler="Deny" class="btn btn-danger"><i class="fas fa-times"></i> No, Do Not Allow</button>
                    @if (Model.ConsentData.ClientUrl != null)
                    {
                        <a class="pull-right btn btn-default" target="_blank" href="@Model.ConsentData.ClientUrl">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            <strong>@Model.ConsentData.ClientName</strong>
                        </a>
                    }
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment include="Development">
        <script type="text/javascript" src="~/js/Consent/consent.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/Consent/consent.min.js" asp-append-version="true"></script>
    </environment>
}
