@page
@model MoatGate.Pages.Client.DeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Delete</h2>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
