@page
@model MoatGate.Pages.Account.ConfirmPhoneNumberModel
@{
    ViewData["Title"] = "Confirm Phone Number";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your phone number.
    </p>
</div>
