@page
@model MoatGate.Pages.Account.ResetPasswordModel
@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}
<div class="container">
    <div class="card card-container">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form class="form-signin" method="post">
            <h1>
                Reset Password
            </h1>
            <input type="hidden" asp-for="ResetPasswordViewModel.Code" />
            <input type="hidden" asp-for="ResetPasswordViewModel.UserId" />
            <div class="form-group">
                <label asp-for="ResetPasswordViewModel.Password"></label>
                <input asp-for="ResetPasswordViewModel.Password" class="form-control" />
                <span asp-validation-for="ResetPasswordViewModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResetPasswordViewModel.ConfirmPassword"></label>
                <input asp-for="ResetPasswordViewModel.ConfirmPassword" class="form-control" />
                <span asp-validation-for="ResetPasswordViewModel.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Confirm</button>
        </form><!-- /form -->
    </div><!-- /card-container -->
</div><!-- /container -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}