@model IList<IdentityServer4.EntityFramework.Entities.ClientClaim>
<section data-scope="client-partials-client-claim">
    <p>
        <button type="button" class="btn btn-sm btn-primary" id="btn-add-client-claim"><i class="fa fa-plus"></i> Create New</button>
    </p>
    <table class="table table-condensed table-responsive table-striped table-hover" id="tbl-client-claim">
        <tbody>
            @{ int i = 0; }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="hidden" class="form-control" name="Client.Properties[@i.ToString()].Id" value="@item.Id" />
                        <input type="text" class="form-control" name="Client.Claims[@i.ToString()].Type" value="@item.Type" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="Client.Claims[@i.ToString()].Value" value="@item.Value" />
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-sm btn-danger  btn-delete-client-claim" title="Delete"><i class="fa fa-trash-o"></i></button>
                        </div>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
    <script id="client-claim-template" type="text/x-jsrender">
        <tr>
            <td>
                <input type="hidden" class="form-control" name="Client.Claims[{{:index}}].id" value="{{:id}}" />
                <input type="text" class="form-control" name="Client.Claims[{{:index}}].Type" value="{{:type}}" />
            </td>
            <td>
                <input type="text" class="form-control" name="Client.Claims[{{:index}}].Value" value="{{:value}}" />
            </td>
            <td>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-sm btn-danger btn-delete-client-claim" title="Delete"><i class="fa fa-trash-o"></i></button>
                </div>
            </td>
        </tr>
    </script>
</section>
