@model IList<IdentityServer4.EntityFramework.Entities.ApiResourceClaim>
<section data-scope="partials-api-resource-claim">
    <p>
        <button type="button" class="btn btn-sm btn-primary" id="btn-add-api-resource-claim"><i class="fas fa-plus"></i> Create New</button>
    </p>
    <table class="table table-condensed table-responsive table-striped table-hover" id="tbl-api-resource-claim">
        <tbody>
            @{ int i = 0; }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="hidden" class="form-control" name="ApiResource.UserClaims[@i.ToString()].Id" value="@item.Id" />
                        <input type="text" class="form-control" name="ApiResource.UserClaims[@i.ToString()].Type" value="@item.Type" />
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-sm btn-danger  btn-delete-api-resource-claim" title="Delete"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
    <script id="api-resource-claim-template" type="text/x-jsrender">
        <tr>
            <td>
                <input type="hidden" class="form-control" name="ApiResource.UserClaims[{{:index}}].id" value="{{:id}}" />
                <input type="text" class="form-control" name="ApiResource.UserClaims[{{:index}}].Type" value="{{:type}}" />
            </td>
            <td>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-sm btn-danger btn-delete-api-resource-claim" title="Delete"><i class="fas fa-trash-alt"></i></button>
                </div>
            </td>
        </tr>
    </script>
</section>
